// 这里放一些修正 Element Plus 的样式
.el-notification {
  z-index: 9999 !important;
}

.el-date-editor .el-range-separator {
  width: 10%;
}

.el-button {
  --el-button-font-weight: normal !important;
}

.el-button.is-link {
  padding: 0px !important;
}

// 这里放一些增强 Element Plus 的样式
// 响应式按钮
.el-col .el-button {
  width: 100%;
}

.el-button + .el-button {
  margin-left: 0 !important;
}

.el-message-box__btns {
  .el-button + .el-button {
    margin-left: 12px !important;
  }
}

.el-radio {
  --el-radio-text-color: #9da3af !important;
  --el-radio-font-weight: normal !important;
}

.el-button [class*='el-icon'] + span {
  margin-left: 4px !important;
}

.chato-tab {
  .el-tabs__item {
    color: #596780;
    font-weight: 400;

    &.is-active {
      color: #303133;
      font-weight: 500;
    }

    &:hover {
      color: #303133;
    }
  }

  .el-tabs__nav-wrap::after {
    background-color: transparent;
  }

  .el-tabs__active-bar {
    background-color: #303133;
  }
}

.chato-tab-primary {
  .el-tabs__item {
    color: #596780;
    font-weight: 400;

    &.is-active {
      color: #7c5cfc;
      font-weight: 500;
    }

    &:hover {
      color: #7c5cfc;
    }
  }

  .el-tabs__nav-wrap::after {
    background-color: #e4e7ed;
    height: 1px;
  }

  .el-tabs__active-bar {
    background-color: #7c5cfc;
  }
}

.el-dialog__footer {
  .el-button + .el-button {
    margin-left: 12px !important;
  }
}

.chato-form {
  .el-form-item {
    margin-bottom: 32px;
  }

  .el-form-item__label {
    padding: 0;
    margin-bottom: 16px !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.13px;
    color: #303133;
    // pointer-events: none;
  }
}

.chat-mobile-chat-drawer {
  .el-drawer__body {
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.chato-card-tab {
  --el-border-color-light: #e4e7ed;
  --el-text-color-primary: #596780;
  --el-tabs-header-height: 34px !important;
  height: 100%;
  display: flex;
  flex-direction: column;

  & > .el-tabs__header {
    border-bottom: none !important;
    margin-bottom: 32px;

    .el-tabs__nav {
      border-radius: 12px !important;
      border: none !important;
      background-color: #f2f3f5;
      padding: 4px;
    }

    .el-tabs__item {
      font-weight: 400;
      border-left: none !important;

      &.is-active {
        font-weight: 500;
        background-color: #fff;
        border-radius: 8px;
      }
    }
  }
}
