@import 'normalize.css/normalize.css';
@import 'cmui-zero/dist/zero.css';
@import '@/styles/_element-plus.scss';
@import '@/styles/_common.scss';
@import '@/styles/_layout.scss';
@import '@/styles/variables.scss';
@import './markdown.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
